# Python

**pycache**/
*.py[cod]
*.pyo

# Entornos locales

.venv/
venv/
env/


# VS Code

.vscode/

# Datos originales

data/*
!data/.gitkeep

# Archivos temporales / logs

*.log
*.tmp
*.temp

# Sistema operativo

.DS_Store
Thumbs.db

# Archivos de configuración local
.env
.env.*
!.env.example
